<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Zero1\OpenPos\Model\ModuleIntegration">
        <arguments>
            <argument name="openPosModules" xsi:type="array">
                <item name="Zero1_OpenPosRma" xsi:type="string">Zero1_OpenPosRma</item>
            </argument>
        </arguments>
    </type>

    <type name="Zero1\OpenPos\Magewire\Switcher">
        <arguments>
            <argument name="blocks" xsi:type="array">
                <item name="Create Return" xsi:type="string">openpos.rma</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Payment\Model\Checks\ZeroTotal">
        <plugin name="zero1_openpos_rma_zero_total_bypass" type="Zero1\OpenPosRma\Plugin\ZeroTotalBypass" sortOrder="10"/>
    </type>

    <type name="Magento\CatalogInventory\Model\StockManagement">
        <plugin name="zero1_openpos_prevent_rma_stock_deduction" type="Zero1\OpenPosRma\Plugin\PreventRmaStockDeduction" />
    </type>

    <type name="Magento\Payment\Model\MethodInterface">
        <plugin name="zero1_openpos_rma_payment_method_filter" type="Zero1\OpenPosRma\Plugin\PaymentMethodFilter" />
    </type>
</config>
